{% load static %}
{% load bootstrap5 %}
{% load main_extra %}

{% eventSlug as bla %}
<!doctype html>
<html lang="de">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <style>
      body { display: flex; min-height: 100vh; flex-direction: column; }
      .navbar { margin-bottom: 1rem; padding: 0 1rem; }
      main { flex: 1 }
      footer hr { margin-bottom: 0; }
      tr.canceled td, tr td.canceled { font-style: italic; background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWP4JST0HwAFRgIefzRCKwAAAABJRU5ErkJggg=='); background-repeat: repeat-x; background-position: 50% 50%; }
    </style>
    {% block stylesheets %}{% endblock %}

    <title>{% block title %}Einrad Wertung{% endblock %}</title>
  </head>
  <body onload="init()">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="#">{{ bla|default_if_none:"einrad"|capfirst }}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'artistic:rate' %}">Auswertung</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'artistic:free' %}">Korrektur / Judges Verwalten</a>
            </li>
            {% if user.is_staff %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'admin:artistic_start_changelist' %}" target="_blank">Django Admin</a>
            </li>
            {% endif %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="inputpdf" role="button" data-bs-toggle="dropdown" aria-expanded="false">Wertungsbögen</a>
              <div class="dropdown-menu" aria-labelledby="inputpdf">
                <a class="dropdown-item" href="{% url 'artistic:inputpdf' '2018' %}" target="_blank">alt</a>
                <a class="dropdown-item" href="{% url 'artistic:inputpdf' '2019' %}" target="_blank">neu</a>
              </div>
            </li>
            {% if user.is_staff %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="admin" role="button" data-bs-toggle="dropdown" aria-expanded="false">Admin</a>
              <div class="dropdown-menu" aria-labelledby="admin">
                <a class="dropdown-item" href="{% url 'artistic:import' %}">Import</a>
                <a class="dropdown-item" href="{% url 'artistic:choose_event' %}">Veranstaltung wählen</a>
              </div>
            </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'artistic:displaySettings' %}">Anzeige steuern</a>
              </li>
            {% endif %}
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'artistic:input' %}">Eingabe</a>
            </li>
          {% endif %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="display" role="button" data-bs-toggle="dropdown" aria-expanded="false">Anzeige (Beamer)</a>
            <div class="dropdown-menu" aria-labelledby="display">
              {% if user.is_authenticated %}
                <a class="dropdown-item" href="{% url 'artistic:displaySettings' %}">Anzeige steuern</a>
              {% endif %}
              <a class="dropdown-item" href="{% url 'artistic:displayBeamer' %}" target="_blank">anzeigen Beamer</a>
              <a class="dropdown-item" href="{% url 'artistic:displayMonitor' %}" target="_blank">anzeigen Monitor</a>
            </div>
          </li>
        </ul>
      </div>
      <form class="form-inline">
        {% if user.is_authenticated %}
          <a href="{% url 'logout' %}" class="btn btn-dark">Logout</a>
        {% else %}
          <a href="{% url 'login' %}" class="btn btn-dark">Admin Login</a>
        {% endif %}
      </form>
    </nav>

    {% if messages %}
    <div class="container">
        {% for message in messages %}
        <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %} role="alert">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}

    <main role="main" class="container-fluid">
      {% block body %}<h1>Hello, world!</h1>{% endblock %}
    </main><!-- /.container-fluid -->

		<footer>
			<hr>
			<div class="container-fluid">
				<ul class="nav nav-pills nav-fill">
					<li class="nav-item">
            <a class="nav-link disabled" href="#">Einrad Wertung</a>
          </li>
					<li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
          </li>
					<li class="nav-item">
            <a class="nav-link" href="#">Dokumentation</a>
          </li>
					<li class="nav-item">
            <a class="nav-link disabled" href="#">Copyright 2022 @Lukas</a>
          </li>
				</ul>
			</div><!-- /.container-fluid -->
		</footer>

    <!-- Optional JavaScript -->
    {% block javascripts %}{% endblock %}
  </body>
</html>
