 {% extends "base.html" %}

 {% block body %}
<div class="container">
  <form action="{% url 'artistic:import' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="startlist">Startliste</label>
      <textarea class="form-control" id="startlist" rows="3" name="csvfile">{{ text }}</textarea>
    </div>
    <div class="form-group">
      <label for="listdate">Tag</label>
      <input class="form-control" id="listdate" name="date" value="{{ event.firstDay|date:"d.m.Y" }}" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock %}
