 {% extends "base.html" %}
 {% load main_extra %}
 {% load l10n %}

 {% block body %}
  <form action="{% url 'artistic:input' %}" method="post">
    {% csrf_token %}
    <h2>Judge: {{ judge.possition }}, Altersklasse: {{ judge.competition.name }}</h2>
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Verein</th>
          <th>Titel</th>
          {% if judge.type == 'T' %}
            <th>Anzahl</th>
            <th>Schwierigkeit</th>
            <th>Sicherheit / Qualität</th>
          {% elif judge.type == 'P' %}
            <th>Präsenz / Bewegungsausführung</th>
            <th>Komposition / Choreographie</th>
            <th>Interpretation der Musik / Timing</th>
          {% elif judge.type == 'D' %}
            <th>Anzahl leichte Abstiege</th>
            <th>Anzahl schwere Abstiege</th>
            <th>Anzahl der Fahrer</th>
          {% endif %}
          <th colspan="3">Ergebniss</th>
        </tr>
      </thead>
      <tbody>
        {% for start in starts %}
          <tr id="start{{ start.id }}"{% if not start.isActive %} class="canceled"{% endif %}>
            <td>{{ start.order }}</td>
            <td>{{ start.competitors_names }}</td>
            <td>{{ start.competitors_clubs }}</td>
            <td>{{ start.info.titel }}</td>
            {% with value=values|return_item:start.id %}
              <td><input type=number step=any value="{{ value.values.0|unlocalize }}" name="{{ start.id }}v0" class="form-control" size="6" {% if not start.isActive %} disabled{% endif %}></td>
              <td><input type=number step=any value="{{ value.values.1|unlocalize }}" name="{{ start.id }}v1" class="form-control" size="6" {% if not start.isActive %} disabled{% endif %}></td>
              <td><input type=number step=any value="{{ value.values.2|unlocalize }}" name="{{ start.id }}v2" class="form-control" size="6" {% if not start.isActive %} disabled{% endif %}></td>
              <td>{{ value.values.summe|floatformat:3 }}</td>
              <td>{{ value.values.place }}</td>
              <td>{{ value.values.result|percent:2 }}</td>
            {% endwith %}
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" name="save" class="btn btn-primary">Speichern</button>
        <button type="submit" name="ready" class="btn btn-primary">Fertig</button>
      </div>
    </div>
  </form>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
	function isSleep(){
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
				//console.log(this.responseText);
				setMode(this.responseText);
			}
		};
		xhttp.open("GET", "{% url 'artistic:displayMode' %}", true);
		xhttp.send();
	}
/* Funktion zum Umsetzung des Modus: Anzeigen der WordClock oder der Startliste */
  var oldmode = 0;
	function setMode(mode){
		if (mode != oldmode) {
      $( "#start" + mode ).addClass("table-info");
      $( "#start" + oldmode ).removeClass("table-info");
			oldmode = mode;
		}
	}

  $( document ).ready(function() {
		isSleep();
		window.setInterval(isSleep,5000);
	});
</script>
{% endblock %}
