{% extends "base.html" %}
{% load main_extra %}
{% load static %}

{% block body %}
{% with judgetypes='TPD' %}
  <h1>{{ competiton.name }}</h1>

  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item"><a href="#result" class="nav-link active" aria-controls="result" role="tab" data-toggle="tab">Gesamt</a></li>
    <li class="nav-item"><a href="#detail" class="nav-link" aria-controls="detail" role="tab" data-toggle="tab">Übersicht</a></li>
    {% for jtype in judgetypes %}
    <li class="nav-item"><a href="#tab{{ jtype }}1" class="nav-link" aria-controls="tab{{ jtype }}1" role="tab" data-toggle="tab">{{ jtype }} 1</a></li>
    <li class="nav-item"><a href="#tab{{ jtype }}2" class="nav-link" aria-controls="tab{{ jtype }}2" role="tab" data-toggle="tab">{{ jtype }} 2</a></li>
    {% endfor %}
    <li class="nav-item"><a href="{% url 'artistic:ratepdf' 'result' %}" class="nav-link" role="tab" target="_blank">PDF Aushang</a></li>
    <li class="nav-item"><a href="{% url 'artistic:ratepdf' 'detail' %}" class="nav-link" role="tab" target="_blank">PDF Übersicht</a></li>
    <li class="nav-item"><a href="{% url 'artistic:select' %}" class="nav-link" role="tab">mehrere Alterklassen wählen</a></li>
  </ul>
  <div class="tab-content">

    <div role="tabpanel" class="tab-pane fade show active table-responsive" id="result">
      <table class="table table-bordered table-hover table-sm">
        <thead>
          <tr>
            <th>Titel</th>
            <th>Name</th>
            <th>Verein</th>
            {% for jtype in judgetypes %}
              <th>{{ jtype }}</th>
            {% endfor %}
            <th>Ergebniss</th>
            <th>Platz</th>
          </tr>
        </thead>
        <tbody>
          {% for start in starts %}
            <tr{% if not start.isActive %} class="canceled"{% endif %}>
              <td>{{ start.info.titel }}</td>
              <td>{{ start.competitors_names }}</td>
              <td>{{ start.competitors_clubs }}</td>
              {% for jtype in judgetypes %}
                {% with res=result.full|return_item:jtype|return_item:start.id %}
                  <td>{{ res.values.result|percent:2 }}</td>
                {% endwith %}
              {% endfor %}
              {% with res=result.full.full|return_item:start.id %}
                <td>{{ res.result|percent:2 }}</td>
                <td>{{ res.place }}</td>
              {% endwith %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>


    <div role="tabpanel" class="tab-pane fade table-responsive" id="detail">
      <table class="table table-bordered table-hover table-sm">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Verein</th>
            <th>Titel</th>
            <th colspan="2">Gesamt</th>
            {% for jtype in judgetypes %}
              <th style="border-left: thin solid #000;">{{ jtype }}</th>
              {% for judge in judges %}{% if judge.type == jtype %}
                <th colspan="2" style="border-left: thin solid #000;">{{ judge.possition }}</th>
              {% endif %}{% endfor %}
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for start in starts %}
            <tr{% if not start.isActive %} class="canceled"{% endif %}>
              <td>{{ start.order }}</td>
              <td>{{ start.competitors_names }}</td>
              <td>{{ start.competitors_clubs }}</td>
              <td>{{ start.info.titel }}</td>
              {% with res=result.full.full|return_item:start.id %}
                <td>{{ res.result|percent:2 }}</td>
                <td>{{ res.place }}</td>
              {% endwith %}
              {% for jtype in judgetypes %}
                {% with res=result.full|return_item:jtype|return_item:start.id %}
                  <td style="border-left: thin solid #000;">{{ res.values.result|percent:2 }}</td>
                {% endwith %}
                {% for judge in judges %}{% if judge.type == jtype %}
                  {% with value=result|return_item:jtype|return_item:judge.possition|return_item:start.id %}
                    <td style="border-left: thin solid #000;">{{ value.values.place }}</td>
                    <td>{{ value.values.result|percent:2 }}</td>
                  {% endwith %}
                {% endif %}{% endfor %}
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>


    {% for jtype in judgetypes %}
    <div role="tabpanel" class="tab-pane fade table-responsive" id="tab{{ jtype }}1">
      <table class="table table-bordered table-hover table-sm">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Verein</th>
            <th>Titel</th>
            <th>Gesamt</th>
            {% for judge in judges %}{% if judge.type == jtype %}
              <th colspan="2" style="border-left: thin solid #000;">{{ judge.possition }}</th>
            {% endif %}{% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for start in starts %}
            <tr{% if not start.isActive %} class="canceled"{% endif %}>
              <td>{{ start.order }}</td>
              <td>{{ start.competitors_names }}</td>
              <td>{{ start.competitors_clubs }}</td>
              <td>{{ start.info.titel }}</td>
              {% with res=result.full|return_item:jtype|return_item:start.id %}
                <td>{{ res.values.result|percent:2 }}</td>
              {% endwith %}
              {% for judge in judges %}{% if judge.type == jtype %}
                {% with value=result|return_item:jtype|return_item:judge.possition|return_item:start.id %}
                  <td style="border-left: thin solid #000;">{{ value.values.place }}</td>
                  <td>{{ value.values.result|percent:2 }}</td>
                {% endwith %}
              {% endif %}{% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div role="tabpanel" class="tab-pane fade table-responsive" id="tab{{ jtype }}2">
      <table class="table table-bordered table-hover table-sm">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Verein</th>
            <th>Titel</th>
            <th>Ergebniss</th>
            {% for judge in judges %}{% if judge.type == jtype %}
              <th colspan="3" style="border-left: thin solid #000;">{{ judge.possition }}</th>
              <th>1</th>
              <th>2</th>
              <th>3</th>
            {% endif %}{% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for start in starts %}
            <tr{% if not start.isActive %} class="canceled"{% endif %}>
              <td>{{ start.order }}</td>
              <td>{{ start.competitors_names }}</td>
              <td>{{ start.competitors_clubs }}</td>
              <td>{{ start.info.titel }}</td>
              {% with res=result.full|return_item:jtype|return_item:start.id %}
                <td>{{ res.values.result|percent:2 }}</td>
              {% endwith %}
              {% for judge in judges %}{% if judge.type == jtype %}
                {% with value=result|return_item:jtype|return_item:judge.possition|return_item:start.id %}
                  <td style="border-left: thin solid #000;">{{ value.values.place }}</td>
                  <td>{{ value.values.result|percent:2 }}</td>
                  <td>{{ value.values.summe }}</td>
                  <td>{{ value.values.0 }}</td>
                  <td>{{ value.values.1 }}</td>
                  <td>{{ value.values.2 }}</td>
                {% endwith %}
              {% endif %}{% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endfor %}


  </div>
{% endwith %}
{% endblock %}
